@import "../../base.scss";

.wall {
    $screen-sm-min-wall: 547px;
    // $screen-mid-mid-wall:
    position: relative;
    display: none;
    &:before{
        content: '';

        position: absolute;
        top: 44%;
        height: 0;
        width: 100%;

        z-index: 0;
        background-color: transparent;
    }
    ul{
        @extend .f-cf;
        position: relative;

        background-color: transparent;

        li{
            float: left;
            color: white;
            background-color: $mainColor;
            height: 30px;
            line-height: 30px;
            padding: 0px 0.6rem;

            text-align: center;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }
    @media only screen and (min-width: $screen-sm-min-wall) {
        display: inline-block;
        ul {
            li {
                margin-top: 6px;
            }
        }
    }
    @media only screen and (min-width: $screen-md-min) {
        &:before {
            height: 5px;
            background-color: $defaultBorderColor;
        }
    }
    @media only screen and (min-width: $screen-lg-min) {
        ul {
            li {
                margin-top: 0;
            }
        }
    }

}
