@import "../../base.scss";
.tpl {
    > div:first-child {
        @extend  .f-cf;
        position: relative;
        height: 64px;
        .name{
            line-height: 64px;
        }
    }
    .technologies {
        position: absolute;
        right: 0px;
        top: 50%;
        margin-top: -32px;
    }
    .time{
        clear: both;
    }
}
