// global scss
$defaultFontColor: rgb(104, 120, 121);

$mainColor: #22c3aa;

$aColor: #22c3aa;
$aHoverColor: darken(#22c3aa, 15%);

$defaultBgColorForSide: #22c3aa;
$defaultBgcolor: #F1EEE7;
$defaultTitleColor: #22c3aa;

$defaultBorderColor: #318C7F;


$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

html,
body{
    font-size: 10px;
    font-family: Lato,"Microsoft YaHei",sans-serif;
    color: $defaultFontColor;

    height: 100%;
    @media only screen and (min-width: $screen-md-min) {
        margin: 10px 30px;
    }
    @media only screen and (min-width: $screen-lg-min){
        margin: 0 5%;
    }
}
body{
    font-size: 1.6rem;
}
* {
    box-sizing: border-box;
}

h1,
h2{
    font-size: 3rem;
    margin: 10px 0;
    color: $defaultTitleColor;
}

ul,
ol,
li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

p,
span{
    margin: 0.5rem 0;
    font-size: 1.6rem;
    @media only screen and (min-width: $screen-md-min) {
        font-size: 1.8rem;
    }
    @media only screen and (min-width: $screen-lg-min) {
        font-size: 2rem;
    }
}
a{
    text-decoration: none;
    transition: all 0.5s;
    color: $aColor;
    cursor: pointer;
    &:hover{
        color: $aHoverColor;
    }
}
i {
    margin-right: 6px;
}

.meta{
    font-size: 1.7rem;
    &.time{
        color: darken($mainColor, 20%);
    }
}
.f-cf:after{
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
    zoom:1;
}
