@import './base.scss';

#cv{
    background-color: $defaultBgcolor;
}
#root {
    position: relative;
    @extend .f-cf;
    transition: 0.5s;
    opacity: 1;
    > div.btn-group {
        position: absolute;
        right: 8px;
        top: 8px;
        a {
            display: inline-block;
            border-radius: 5px;
            padding: 4px 8px;
            text-decoration: none;
            color: white;
            &.active{
                border: 1px solid white;
            }
            @media only screen and (min-width: $screen-sm-min) {
                color: $aColor;
                &.active {
                    border: 1px solid $defaultBorderColor;
                    background-color: #fafaff;
                }
            }
        }
        @media only screen and (min-width: $screen-sm-min) {
            top: 10px;
            right: 40px;
        }
    }
    animation: fadein .7s;
}
.cv-side,
.cv-main{
    float: left;
    @extend .f-cf;

    width: 100%;
    padding: 9%;

    position: relative;
    height: 100%;
}

.cv-side{
    background-color: $defaultBgColorForSide;
    color: white;

    @media only screen and (min-width: $screen-sm-min){
        width: 29%;
        padding: 25px;

        z-index: 2;
    }
    @media only screen and (min-width: $screen-sm-min){
        padding: 3%;
    }
    @media only screen and (min-width: $screen-lg-min){
        width: 26%;
        padding: 3% 27px;
    }
}
.cv-side-bg {
    @media only screen and (min-width: $screen-sm-min){
        position: absolute;
        top: 0;
        bottom: 0;
        width: 29%;
        background-color: $defaultBgColorForSide;

        z-index: 1;
    }
    @media only screen and (min-width: $screen-lg-min){
        width: 26%;
    }
}
.cv-main{
    background-color: $defaultBgcolor;
    @media only screen and (min-width: $screen-sm-min) {
        width: 68%;
        padding: 2.5% 5% 2.5% 2.5%;
    }
    @media only screen and (min-width: $screen-lg-min) {
        width: 74%;
        padding: 2.5% 6% 2.5% 4%;

    }
}

//transition
.cv-appear {
  opacity: 0.01;
}

.cv-appear.cv-appear-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.cv-appear {
  opacity: 0;
}

.cv-leave.cv-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


//animation
@keyframes fadein {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
