@import './base.scss';

#cv{
    background-color: $defaultBgcolor;
}
#root {
    @extend .f-cf;
}
.cv-side,
.cv-main{
    float: left;
    @extend .f-cf;

    position: relative;
    height: 100%;
}

.cv-side{
    width: 33%;
    padding: 4%;

    background-color: $defaultBgColorForSide;
    color: white;
}

.cv-main{
    width: 67%;
    padding: 2.5% 5% 2.5% 2.5%;
    background-color: $defaultBgcolor;
}
